<div class="columns is-centered">
    <div class="column is-6">
        <mat-card>
            <mat-card-header>
              <mat-card-title>{{ authServ.loggedCoach.getUsername().trim() }}'s, profile</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-card-subtitle>

                </mat-card-subtitle>
                <mat-card>
                <p>Username: {{ authServ.loggedCoach.getUsername().trim() }}</p>
                <p>Name: {{ authServ.loggedCoach.getName().trim() }}</p>
                <p>Surname: {{ authServ.loggedCoach.getSurname().trim() }}</p>
                <p>E-mail: {{ authServ.loggedCoach.getEmail().trim() }}</p>
                <p>Biography: {{ authServ.loggedCoach.getBio().trim() }}</p>
            </mat-card>
            </mat-card-content>
            <button
            mat-button
            color="primary"
            id="editButton"
            (click)="openEditBottomSheet()"
  >
    <mat-icon>edit</mat-icon>
  </button>
          </mat-card>
    </div>
</div>
