<mat-card>
    <mat-card-header>
      <mat-card-title> <h1>[{{rb}}.]  {{ exercise.getName() }} </h1></mat-card-title>
      <mat-card-subtitle
        >{{ exercise.getDescription() }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="exercise.getReps()!=undefined && exercise.getSeries()!=undefined">
        <h1 style="color: orange;">    
        Series: {{ exercise.getSeries() }}<br>
        Repetitions: {{ exercise.getReps() }}  
        </h1>
    </mat-card-content>
    <mat-card-actions *ngIf="isExerciseRoute()">
        <button mat-button color="warn" (click)="openDeleteDialog()">
          <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
